form, table, form mat-form-field{
  width: 100%;
}

.form{
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}
 .c-border{
   border: none;
   border-right: 1px solid rgba(0,0,0,.12);
   border-top: 1px solid rgba(0,0,0,.12);
 }

 .error{
   color: #aa0000;
   font-size: .8rem;
 }

 .mat-card-header{
   display: block;
 }

mat-footer-row {
  font-weight: bold;
}
